include setup.py
include pyproject.toml
include CMakeLists.txt
include LICENSE
include *.md
recursive-include Addons *
recursive-include Config *
recursive-include Doxygen *
recursive-include DREAM *
recursive-include InterfaceFortran *
recursive-include InterfaceMATLAB *
recursive-include InterfacePython *
recursive-include InterfaceTPL *
recursive-include SparseGrids *
recursive-include Testing *
