name: build-windows


# Controls when the action will run
on:
  push:
  pull_request:
  workflow_dispatch: # trigger the workflow manually
  # # trigger the workflow on schedule
  # # https://docs.github.com/en/free-pro-team@latest/actions/reference/events-that-trigger-workflows#scheduled-events
  # schedule:
  #   - cron:  '* * * * *'



# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ${{ matrix.runner }}
    continue-on-error: false
    strategy:
      matrix:
        runner: [windows-2019]

    steps:
      - uses: actions/checkout@v2
      - name: Install requirements
        run: python -m pip install numpy
      - name: Build
        run: >
          md build -ea 0 && cd build && Get-ChildItem * -Recurse | Remove-Item &&
          cmake
          -D CMAKE_INSTALL_PREFIX=./TasmanianInstall
          -D CMAKE_CXX_FLAGS="/O2"
          -D Tasmanian_ENABLE_RECOMMENDED=ON
          -D BUILD_SHARED_LIBS=ON
          -D Tasmanian_TESTS_OMP_NUM_THREADS=4 .. &&
          cmake --build . --config Release --parallel 4
      - name: Test
        run: cd build && ctest -C Release
      - name: Install
        run: cd build && cmake --build . --config Release --target install
